html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    box-sizing: border-box;
}

.header{
    display: flex;
    min-height: 80px;
    min-width: 100vw;
    border: none;
    margin-left: -10px;
    margin-top: -10px;
    justify-content: space-between;
}

.logo{
    width: 200px;
    margin-left: 350px;
    background-image: url('images/logo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    
}

.tabs{
    width: 1000px;
    justify-content: center;
    padding-top: 20px;
    display: flex;

}

.tabs a{
    text-decoration: none;
    margin-right: 20px;
    margin-top: 5px;
    color: white;
}

.banner{
    display: flex;
    min-height: 520px;
    min-width: 100vw;
    border: none;
    margin-left: -10px;
    margin-top: -80px;
    justify-content: center;
    flex-direction: column;
    background-image: url('images/banner1.jpg') ;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    color: white;
    align-content: center;
    font-family: 'Lato', sans-serif;
    
}
.ban-wrap{
    width: 100%;
    height: 520px;
    text-align: center;
}
.line1{
    margin-top: 130px;
    margin-left: -650px;
    font-size: 20px;
    font-family: 'Oswald',sans-serif ;
    margin-bottom: -180px;

}
.line2{
    font-size: 180px;
    font-weight: 300;
    font-family: 'Oswald',sans-serif ;
    margin-bottom: -30px;
}
.line3{
    font-size: 20px;
    font-weight: 500px;
}

.orange{
    color: orange;
    text-decoration: none;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
.green{
    color: #bcd436;
    text-decoration: none;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
.CTA{
    margin-top: 50px;
    height: 40px;
    width: 25%;
    border: none;
    border-radius: 25px;
    background-color: #bcd436;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.description{
    width: 100vw;
    color: #6A787C;
    height: 700px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 28px;
    margin-left: -10px;
    margin-top: -40px;
    padding: 20px 40px;
    line-height: 2;
}
.description img{
    height:200px;
    width: auto;
}
.d-line{
    font-size: 50px;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .flex-item {
    padding: 5px;
    width: 300px;
    height: 400px;
    margin-top: 10px;
    color: gray;
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
  }

  .flex-item img{
      height: 100px;
      width: auto;
  }

  .flex-item a{
      color: #bcd436;
  }
  
  .side-border{
    border-left: 2px solid gray;
    border-right: 2px solid gray;
  }


  .flex-container-1 {
    padding: 90px 20px 20px 20px;
    margin-left: -10px;
    width: 100vw;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f0f0;
    box-sizing: border-box;
    color: #40666d;
  }

  .flex-header{
      position: absolute;
      text-align: center;
      margin-left: -70px;
      margin-top: -60px;
      font-family: 'Oswald',sans-serif ;
      
  }

  .fh-nudge{
      margin-left: 50px;
      font-family: 'Oswald',sans-serif ;
  }
  
  .flex-item-1 {
    padding: 5px;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    
  }
  
  .left-1{
    display: flex;
    flex-direction: column; 
    padding: 20px;
    justify-content: space-around;
   
  }
  
  .left-child-1{
    padding: 20px;
    background-color: white;
    height: 32%;

 
  }

  .right-1{
    display: flex;
    flex-direction: column; 
    padding: 20px;
    justify-content: space-around;

  }
  
  .right-child-1{
    padding: 20px;
    background-color: white;
    height: 45%;
    display: flex;
    flex-direction: column;

  }

  .desc{
      color: #ccc;
      font-size: 20px;
      font-weight: normal;
  }

  .btn-flex{
    display: flex;
    background-color: #f0f0f0;
    box-sizing: border-box;
    color: #40666d;
    width: 100vw;
    height: auto;
    margin-left: -10px;
    margin-top: -1px;
    padding: 10px 10px 30px 10px;
    justify-content: center;
  }

  .contact{
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 25px;
    background-color: #bcd436;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    
  }

  .company-header{
      display: flex;
      background-color: white;
      justify-content: center;
      width: 100vw;
      height: 150px;
      align-items: center;
      margin-left: -10px;
      

  }

  .company-header p{
      font-size: 42px;
      font-family: 'Oswald',sans-serif ;
      color: #6A787C;
  }


.f-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  box-sizing:border-box;
  flex-direction: column;
  width: 100vw;
  margin-left: -10px;
}

.f-item {
  background: tomato;
  width: 100%;
  height: 400px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  box-sizing:border-box;
  flex: 1;
  width: 100%;
}
.child{
  flex: 1;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.positions{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic1{
    background-image: url('https://source.unsplash.com/random/400x400');
}

.pic2{
    background-image: url('https://source.unsplash.com/random/500x500');
}
.pic3{
    background-image: url('https://source.unsplash.com/random/600x600');
}
.pic4{
    background-image: url('https://source.unsplash.com/random/700x700');
}
.pic5{
    background-image: url('https://source.unsplash.com/random/800x800');
}
.pic6{
    background-image: url('https://source.unsplash.com/random/900x900');
}

.column-layout-3 {
    width: 100vw;
    background-color: #40666c;
    color: white;
    margin-left: -10px;
    font-size: 40px;
    padding: 20px 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    
  }
  
  .main-column-3 {
    width: 40%;
  }

  .main-column-3 p{
    font-family: 'Lato', sans-serif;
  }
  
  .sidebar-one-3 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .email-btn{
       height: 40px;
      width: 180px;
      border: none;
      border-radius: 25px;
      background-color: lightgreen;
      font-family: 'Lato', sans-serif;
      color: white;
      font-size: 20px;
  }


.fx-container {
  height: 500px;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  box-sizing:border-box;
  margin-left: -10px;
  
}

.fx-item{
  background: tomato;
  flex:1;
  height: auto;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  

}

.xchild{
  width: auto;
  height: auto;
  color: white;
  border: none;
  background-color: #323d40;
  opacity: 0.7;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  
}

.pad-around{
  padding: 40px 200px 2px 30px;
}

.city{
    font-size: 50px;
    
}

.pic-office{
  background-image: url('https://source.unsplash.com/collection/190727/1600x900');
   
  background-position: center;
  background-size: cover;
}

.pic-office-2{
   background-image: url('https://source.unsplash.com/user/erondu');
  background-position: center;
  background-size: cover;
}


.footer{
    display: flex;
    background-color:white;
    justify-content: center;
    width: 100vw;
    height: 100px;
    align-items: center;
    margin-left: -10px;
}

.footer-wrapper{
   width: auto;
   position: absolute;
   margin-left: -600px;
   color: #40666c;
}

@media (max-device-width:767px)  {
    
    .header{
        min-height: 100px;
    }
    .logo{
        margin-left: 30px;
    }
    .tabs{
        display: none;
    }
    .banner{
        margin-top: -100px;
    }
    
}

@media only screen and (min-device-width: 768px) and (max-device-width:1023px)  {
   
    .header{
        height: 80px;
    }
    .logo{
        margin-left: 30px;
    }
    .tabs{
        display: none;
    }
   
}

@media only screen and (max-width:990px){
    .flex-container{
      flex-direction:column;
      justify-content: center;
      align-items:center;
    }  
    .side-border{
      border: none;
    }
    
  }
@media only screen and (min-device-width: 1024px) {
   
    .logo{
        margin-left: 30px;
    }
  
}

@media only screen and (max-width:1239px){
    .column-layout-3{
      flex-direction:column;
      justify-content: center;
      align-items:center;
    }  
    
    
  }


@media only screen and (max-device-width: 1618px){
    .left-1{
        padding: 0px;
        width: 850px;
    }
    
}
@media only screen and (min-device-width: 1440px) {
   
    .logo{
        margin-left: 180px;
    }

    
}

